.Shop{
    width: 100%;
    height: fit-content;

    position: relative;

    @extend %col;
    justify-content: flex-start;
    align-items: center;

    pointer-events: none;

    overflow-x: hidden;
    //margin-top: 50px;

    .video{
        pointer-events: none;
        width: 100%;
        height: 100vh;

        overflow: hidden;
        position: relative;

        video{
            object-fit: cover;
            object-position: center;
            pointer-events: none;
        }

        @media (min-width:1920px) {
            video{
                width: 100%;
            }
        }

        .content{
            @extend %col;
            justify-content: center;

            @extend %mid;

            h2{
                font-family: 'montserrat bold';
                font-size: 5vw;

                color: white;
    
                margin: 0;
                padding: 0;

                @media (max-width:1000px) {
                    font-size: 8vw;
                }
            }
            button{
                width: 40%;
                font-size: 18px;

                @media (max-width:1000px) {
                    width: fit-content;
                }
            }
        }
    }
    .new-cloth{
        width: 100vw;
        height: 100vh;
        position: relative;

        overflow: hidden;
        background: white;

        &.started{
            &>.title{
                opacity: 0;
                pointer-events: none;
            }
        }

        &>.img{
            @extend %mid;

            width: $contentWidth;
            height: calc(100% - ($marginContent * 2));

            background-image: url('../../asset/img/nouvellecollection.jpg');
            @extend %cover;

            transform: translate(-50%,20%);
            opacity: 0;

            transition: all ease .5s;

            @media (max-width:1000px) {
                width: 98vw;
            }

            &.visible{
                transform: translate(-50%,-50%);
                opacity: 1;
            }
        }

        &>.title{
            transition: opacity ease 2s .2s;

            cursor: none;
            
            &:hover{
                p{
                    animation: blink 2s infinite ease;
                    pointer-events: none;
                    opacity: 1;
                }
                h2{
                    transform: translate(-50%,-50%) scale(1);
                }
                h2:last-child{
                    opacity: 1;
                }
            }

            p{
                font-family: 'montserrat medium';
                @extend %mid;
                top: calc(50% + 45px);

                opacity: 0;
                transition: opacity ease .4s;
                animation: none;

                color: white;
            }

            h2{
                cursor: pointer;
                font-family: 'montserrat bold';
                color: white;
    
                font-size: 35px;
                padding: 30px;

                white-space: nowrap;
                pointer-events: auto;

                transform: translate(-50%,-50%) scale(1);
                transition: transform ease .2s;
    
                @extend %mid;

                @media (max-width:1000px) {
                    font-size: 25px;
                }

                &:first-child{
                    &::before,&::after{
                        content: '';
                        width: 5000px;
                        height: 5000px;

                        pointer-events: none;

                        @extend %mid;
                        transform: translate(-50%,-50%) scale(0);

                        border-radius: 50%;

                        background: orangered;
                        transition: transform ease 2s .2s,opacity ease 2s .2s;

                        z-index: -1;
                    }
                    
                    &::after{
                        background: white;
                        transition: transform ease 2s .3s,opacity ease 2s .2s;
                    }
                }
            }
        }
    }
}