.Containers-vetements{
    width: 100%;
    overflow-x: hidden;

    .Container-vetement{
        @extend %row;
        background-color: white;
        justify-content: center;
        align-items: center;
        height: fit-content;
        position: relative;
        overflow: hidden;
        margin-top: 100px;
        flex-wrap: wrap;

        padding-inline: 300px;
        padding-bottom: 100px;

        .content-all{
            width: 350px;
            margin-inline: 10px;

            .content{
                @extend %col;
                width: 100%;
                height: 100%;
                background: transparent;
                backdrop-filter: blur(3px);
                transition: opacity ease .5s;
                color: black;
                text-align: start;
                margin-bottom: 50px;

                h3{
                    font-weight: normal;
                    font-family: 'montserrat';
                    font-size: 16px;
                    margin-block: 5px;
                }
                p{
                    font-family: 'montserrat semibold';
                }
            }
            .image{
                height: 400px;
                width: 350px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                pointer-events: auto;

                @extend %cover;
            }
            
        } 
        
        
    }
}