.footer-container{
    width: 100vw;
    height: 500px;

    position: relative;

    pointer-events: none;

    footer{
        background: black;
        width: 100vw;
        height: 500px;

        z-index: -1;

        position: fixed;
        bottom: 0;
        left: 0;

        @extend %col;
        justify-content: center;
        align-items: center;

        pointer-events: auto;

        .main{
            @extend %row;
            justify-content: center;
            align-items: center;

            width: fit-content;

            ul{
                @extend %col;
                justify-content: flex-start;
                align-items: flex-start;
                
                margin-inline: 50px;

                li{
                    font-size: 15px;
                    color: white;
                    list-style: none;
                    text-transform: capitalize;

                    pointer-events: fill;

                    margin-block: 5px;

                    transition: transform ease .5s;
                    cursor: pointer;
                }
            }
        }
        hr{
            width: 700px;
            height: 1px;
            background: white;
            border: none;

            margin-block: 40px;
        }
        .reseaux{
            @extend %row;

            div{
                font-size: 15px;
                color: white;
                text-transform: capitalize;
                margin-inline: 20px;

                position: relative;

                cursor: pointer;

                &::after{
                    @extend %underlineEffect;
                    bottom: -2px;
                }

                &:hover{
                    &::after{
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
        .credits{
            font-size: 15px;
            position: absolute;
            bottom: 10px;
            left: 10px;

            cursor: default;

            pointer-events: auto;

            color: white;

            margin-right: 10px;
            @extend %row;

            &:hover{
                div{
                    opacity: 1;
                }
            }

            div{
                opacity: 0;
                margin-inline: 15px; 
                transition: opacity ease .5s;
            }
        }
    }
}