.Navbar{
    width: 100%;
    height: fit-content;
    min-height: 50px;
    background: black;
    position: relative;
    
    z-index: 98;

    img{
        width: 250px;

        @extend %mid;

        padding: 0;
        margin: 0;

        z-index: 99;
    }

    .container{
        @extend %row;
        justify-content: space-around;
        align-items: center;

        height: 50px;
        width: fit-content;

        position: absolute;
        right: 20px;

        .search-container{
            @extend %row;
            justify-content: space-around;

            width: fit-content;

            pointer-events: none;

            &:hover{
                pointer-events: auto;
                input{
                    transform: scaleX(1);
                }
            }

            input{
                width: 140px;
                height: 15px;
                border-radius: 7px;
                border: none;
                outline: none;
                padding-left: 10px;
                margin-right: 10px;

                pointer-events: auto;
    
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform ease .5s;
    
                &.active{
                    transform: scaleX(1);
                }
            }

            .icon{
                pointer-events: auto;
            }
        }

        .icon{
            color: white;
            font-size: 18px;
            transform: rotate(0deg);
            transition: color ease .5s;
            margin-right: 25px;

            &:last-child{
                font-size: 21px;
            }

            &:hover{
                cursor: pointer;
                color: #aaa;
            }
        }
    }
}