.Navbar{
    width: 100%;
    height: fit-content;
    min-height: 50px;
    background: black;
    position: relative;
    
    z-index: 98;

    img{
        width: 250px;

        @extend %mid;

        padding: 0;
        margin: 0;

        z-index: 99;
    }

    .container{
        @extend %row;
        justify-content: space-around;
        align-items: center;

        height: 50px;
        width: 10%;

        position: absolute;
        right: 20px;

        input{
            position: absolute;
            left: -150px;

            width: 140px;
            height: 15px;
            border-radius: 7px;
            border: none;
            outline: none;
            padding-left: 10px;

            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform ease .5s;

            &.active{
                transform: scaleX(1);
            }
        }

        div{
            color: white;
            font-size: 18px;
            transform: rotate(0deg);
            transition: transform ease 1s;

            &:last-child{
                font-size: 21px;
            }

            &:hover{
                cursor: pointer;
                transform: rotate(360deg);
            }
        }
    }
}