.Panier{
    @extend %col;
    justify-content: flex-start;
    align-items: center;

    width: 35%;
    position: absolute;
    background: black;

    top: 0;
    right: 0;

    height: 100vh;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform ease .5s;

    &.active{
        transform: scaleX(1);
    }

    h3{
        margin-top: 20px;
        color: white;
        font-family: 'montserrat';
        margin-bottom: 50px;
    }
    .content{
        @extend %col;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: 75%;
        padding-top: 10px;

        overflow-y: scroll;

        color: white;
        font-family: 'montserrat';
        font-size: 15px;
    }

    .total{
        position: absolute;
        bottom: 50px;

        color: white;
        font-family: 'montserrat';
        
        width: 100%;
        text-align: center;
    }

    .cross{
        position: absolute;
        top: 10px;
        right: 20px;
        color: white;
        font-size: 25px;

        transform: rotate(45deg);

        transition: color ease .5s;

        &:hover{
            color: #aaa;
            cursor: pointer;
        }
    }
}

.ProduitCard{
    @extend %row;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 20px;

    width: 80%;
    position: relative;
    background: white;
    border-radius: 15px;
    padding: 10px;

    transition: transform ease .5s;

    @media (max-width:1100px) {
        flex-direction: column;

        div{
            width: 100%;
        }

        span{
            &.image{
                margin-bottom: 20px;
            }
            &:last-child{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }

    &:hover{
        transform: scale(1.1);
    }

    div{
        @extend %row;
        justify-content: space-around;
        align-items: center;

        width: 80%;
        position: relative;

        span{
            flex-grow: 1;
            width: 20%;
            text-align: center;
            align-self: center;
            
            &:first-child{
                flex-grow: 2;

                padding-left: 10px;
                width: 40%;
                text-align: start;
            }
        }
    }

    span{
        color: black;
        cursor: default;

        &.image{
            width: 80px;
            height: 80px;

            background: black;

            border-radius: 50%;
        }
        &:last-child{
            transition: color ease .5s;
            font-size: 25px;
            transform: rotate(45deg);

            &:hover{
                cursor: pointer;
                color: #777;
            }
        }
    }
    input{
        border: none;
        outline: none;
        background: none;

        font-family: 'montserrat';
        width: 20%;
        text-align: center;

        &.error{
            border: 1px solid red;
        }
    }
}