@font-face {
    font-family: 'montserrat';
    src: url('../asset/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'montserrat medium';
    src: url('../asset/fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'montserrat semibold';
    src: url('../asset/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: 'montserrat bold';
    src: url('../asset/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'montserrat black';
    src: url('../asset/fonts/Montserrat-Black.ttf');
}