%col{
    display: flex;
    flex-direction: column;
}

%row{
    display: flex;
    flex-direction: row;
}

%mid{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

%cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#root{
    scroll-behavior: auto;
}

.black-bottom{
    @extend %mid;
    position: fixed;

    width: 100vw;
    height: 400vh;

    background: rgba(black,.8);


    pointer-events: none;

    opacity: 0;
    transition: opacity ease .5s;

    &.active{
        pointer-events: auto;
        opacity: 1;
    }
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: #777;
    border-radius: 3px;
}

@supports (scrollbar-color: #777 blue){
    *{
        scrollbar-color: #777 black;
        scrollbar-width: auto;
    }
}
