%col{
    display: flex;
    flex-direction: column;
}

%row{
    display: flex;
    flex-direction: row;
}

%mid{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

%cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
%underlineEffect{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: white;

    transform: scale(0);
    transform-origin: bottom right;
    transition: transform ease .5s;
}

#root{
    scroll-behavior: auto;
    pointer-events: none;
}
body{
    pointer-events: none;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;

    font-family: 'montserrat';
}

.black-bottom{
    @extend %mid;
    position: fixed;

    width: 100vw;
    height: 400vh;

    background: rgba(black,.8);


    pointer-events: none;

    opacity: 0;
    transition: opacity ease .5s;

    &.active{
        pointer-events: auto;
        opacity: 1;
    }
}

button{
    background: transparent;

    margin-top: 20px;

    overflow: hidden;

    color: white;
    font-family: 'montserrat medium';
    font-size: 16px;

    padding: 15px;
    pointer-events: auto;

    border: 2px solid white;

    transition: all ease .5s;

    &:hover{
        background: white;
        color: black;
        cursor: pointer;
    }
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: #777;
    border-radius: 3px;
}

@supports (scrollbar-color: #777 blue){
    *{
        scrollbar-color: #777 black;
        scrollbar-width: auto;
    }
}

// ---- Variables :

$contentWidth:70vw;
$marginContent:100px;
