#vreel3{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.background,.panneau-light, .plateforme, .police, .lights, .lights2, .panneau,.panneau-content, .panneau-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}
#vreel3 .background{
    background-image: url('../asset/img/vreel3/backgroundGame.jpg');
}
#vreel3 .plateforme{
    background-image: url('../asset/img/vreel3/plateforme.png');
}
.police{
    background-image: url('../asset/img/vreel3/police.png');
    left: -100%;
    bottom: -10%;
}
.lights{
    background-image: url('../asset/img/vreel3/light1.png');
    transition: all 1s;
    opacity: 0;
}
.lights2{
    background-image: url('../asset/img/vreel3/light2.png');
}
.panneau{
    background-image: url('../asset/img/vreel3/panneau.png');
}
#vreel3 #cover{
    background-image: url('../asset/img/vreel3/cover.png');
}
.panneau-back{
    background-image: url('../asset/img/vreel3/panneau-back.png');
}
#vreel3 #tracklist{
    background-image: url('../asset/img/vreel3/tracklist.png');
}
.panneau-light{
    background-image: url('../asset/img/vreel3/panneau-light1.png');
}
.panneau-light#panneau-light2{
    background-image: url('../asset/img/vreel3/panneau-light2.png');
}

.nuages{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.nuage{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-image: url('../asset/img/vreel3/nuages.png');
}