#vreel3{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.background, .plateforme{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}
#vreel3 .background{
    background-image: url('../asset/img/vreel3/backgroundGame.jpg');
}
#vreel3 .plateforme{
    background-image: url('../asset/img/vreel3/plateforme.png');
}

.nuages{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.nuage{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-image: url('../asset/img/vreel3/nuages.png');
}